{% extends 'shared/dashboard-base.html' %}
{% load static %}
{% load humanize %}


{% block content %}    
<!--Dashboard-->
<section class="section section-dashboard">
    <div class="display-spacing">
        <div class="container">
            <div class="row">
                {% include 'partials/_dashboard_navbar.html' %}
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <div class="el-panel el-panel-admin-status">
                        <div class="el-panel-body">
                            <div class="el-panel-title">
                                <h2>آگهی های من</h2>
                            </div>
                            <div class="el-products-list">
                                <p>دراین قسمت شما میتوانید براي مدیریت آگهي خود كه شامل پیش نمایش آگهي است و میتوانید دراین قسمت آگهي خود را ویرایش ،حذف و ارتقا دهید</p>
                                <p><b>ارتقا آگهي شامل:</b></p>
                                <ol style="padding-right: 36px;">
                                    <li>
                                        <p><b style="color: var(--primary); font-weight: 800;">نردبان:</b> آگهي شما تا زمان آگهي جدید تر در بالاترین دسته بندي قرار مـــي گیرد و به عنوان اولین آكهـي قرار میگیرد.</p>
                                    </li>
                                    <li>
                                        <p><b style="color: var(--primary); font-weight: 800;">فوري:</b> آگهي شما به مدت یــك هفته در فهرست آگهي هاي فوري قرار خواهد گرفت كه مورد جلب توجه بیشتر و بازدید بیشتر با ظاهري متفاوت خواهد داشت.</p>
                                    </li>
                                    <li>
                                        <p><b style="color: var(--primary); font-weight: 800;">فوري و نردبان:</b> آگهي در فهرست فوري و نردبان هر دو قرار خواهد گرفت.</p>
                                    </li>
                                </ol>
                                <hr class="mb-15"><br>
                                <ul class="mb--15">
                                    {% for l in list %}
                                    <li>
                                        <div class="item d-flex align-items-center">
                                            {% if not l.images.all %}
                                                <div class="image">
                                                    <img src="{% static 'assets/images/products/image-placeholder.jpg' %}" alt="{{ l.title }}">
                                                </div>
                                            {% else %}
                                                <div class="image">
                                                    <img src="{{l.images.all.0.file.url}}" alt="{{ l.title }}">
                                                </div>
                                            {% endif %}
                                            <div class="details">
                                                <h4>{{ l.title }}</h4>
                                                <p>
                                                    <span>وضعیت آگهی:</span>
                                                    {% if l.get_status_display == 'برگشت داده شده'%}
                                                    <span class="text-danger">تایید نشده</span>
                                                    {% endif %}
                                                    {% if l.get_status_display == 'منتشر شده'%}
                                                    <span class="text-success">تایید شده</span>
                                                    {% endif %}        
                                                    {% if l.is_expired %}     
                                                    <span class="text-warning">منقضی شده</span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="link">
                                                <a href="{% url 'accounts:rent-preview' l.pk %}" class="button button-xs bg-dark-60">
                                                    <span class="text text-light">مدیریت آگهی</span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}