{% extends 'shared/other-pages-base.html' %}
{% load static %}


{% block content %}   
<!--Hero-->
<section class="section section-page section-page-1">
    <div class="display-spacing">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="el-panel">
                        <div class="el-panel-body">
                            <div class="el-panel-title">
                                <h3>سوالات متداول</h3>
                            </div>
                        </div>
                    </div>
                    <!--Accordion-->
                    <div class="el-accordion">
                        <div class="el-accordion-head">
                            <div class="inner d-flex align-items-center">
                                <div class="accordion-image">
                                    <img src="{% static 'assets/images/icons/click.svg' %}" alt="Click me">
                                </div>
                                <div class="accordion-title">
                                    <h4>چرا باید بجاي خرید وسایل مورد نیازمان آنهارا به اجاره بگیریم؟</h4>
                                </div>
                                <div class="accordion-arrow">
                                    <div class="display-center">
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-accordion-body">
                            <p>در دنیای امروز شرایط برای کسب درامد و پس انداز آسان تر
                                گردیده و ما میتوانیم با هوشمندی به جای صرف هزینه اضافه برای خرید وسایل غیر ضروری بسیار اسان ان ها را اجاره کنیم.
                                از این پس شما میتوانید از وسایل بلا استفاده خود درامد کسب کنید و از درامد خودتان لذت ببرید.
                                کالای شما میتواند یک خانه، ماشین و یا حتی یک کتاب باشد.
                            </p>
                            <p>شما به کمک رنت کالا میتوانید کالایتان را از هر شهری به اجاره بگیرید و به صورت رایگان کالاهایتان را برای اجاره به اشتراک
                                بگذارید.
                            </p>
                        </div>
                    </div>
                    <!--/-->
                    <!--Accordion-->
                    <div class="el-accordion">
                        <div class="el-accordion-head">
                            <div class="inner d-flex align-items-center">
                                <div class="accordion-image">
                                    <img src="{% static 'assets/images/icons/click.svg' %}" alt="Click me">
                                </div>
                                <div class="accordion-title">
                                    <h4>چرا باید یك کالا را به اجاره بگیریم؟</h4>
                                </div>
                                <div class="accordion-arrow">
                                    <div class="display-center">
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-accordion-body">
                            <p>ما در یک اقتصاد زائد زندگی میکنیم؛ در خانه هایمان اغلب کالاهایی وجود دارد که یا بسیار کم مورد استفاده قرار میگیرند یا به
                                صورت کلی مورد استفاده نمیباشند.
                            </p>
                            <p>دارایی شما صرف خرید اجناسی غیر ضروری میشود.</p>
                            <p>ما به کمک شما فهرستی از آگهی هارا به صورت رایگان به اشتراک میگذاریم، شما میتوانید با ارائه و خدمات و کالاهایی که در
                                دسترس دارید درامدی مازاد برای پس انداز کسب کنید.
                            </p>
                            <p>برای این کار کافیست ثبت نام کنید و در قسمت آگهی رایگان، محصول خود را معرفی کنید و با درج مشخصات آن محصول و
                                انتخاب شهر محل زندگی خود و با قرار دادن عکس با کیفیت از این کالا به درامد برسید.
                            </p>
                        </div>
                    </div>
                    <!--/-->
                    <!--Accordion-->
                    <div class="el-accordion">
                        <div class="el-accordion-head">
                            <div class="inner d-flex align-items-center">
                                <div class="accordion-image">
                                    <img src="{% static 'assets/images/icons/click.svg' %}" alt="Click me">
                                </div>
                                <div class="accordion-title">
                                    <h4>چگونه برای اجاره دادن کالایمان تاریخ و ساعت خاصی را مشخص کنیم؟</h4>
                                </div>
                                <div class="accordion-arrow">
                                    <div class="display-center">
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-accordion-body">
                            <p>برای این کار، در قسمت ثبت آگهی این زمان را در کادر مشخص شده انتخاب کنید و در قسمت توضیحات با ذکر قیمت به صورت
                                کامل شرح دهید.
                            </p>
                        </div>
                    </div>
                    <!--/-->
                    <!--Accordion-->
                    <div class="el-accordion">
                        <div class="el-accordion-head">
                            <div class="inner d-flex align-items-center">
                                <div class="accordion-image">
                                    <img src="{% static 'assets/images/icons/click.svg' %}" alt="Click me">
                                </div>
                                <div class="accordion-title">
                                    <h4>چگونه آگهی را روی سایت به اشتراک بگذاریم؟</h4>
                                </div>
                                <div class="accordion-arrow">
                                    <div class="display-center">
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-accordion-body">
                            <p>برای درج آگهی روی سایت روی قسمت آگهی رایگان کلیک کنید و مشخصات محصولاتان را در قسمت های مربوطه وارد کنید و
                                روی گرینه ی ثبت آگهی کلیک کنید؛ آگهی شما پس از تایید ناظر در کوتاه ترین زمان بر روی سایت به نمایش گذاشته میشود.
                            </p>
                        </div>
                    </div>
                    <!--/-->
                    <!--Accordion-->
                    <div class="el-accordion">
                        <div class="el-accordion-head">
                            <div class="inner d-flex align-items-center">
                                <div class="accordion-image">
                                    <img src="{% static 'assets/images/icons/click.svg' %}" alt="Click me">
                                </div>
                                <div class="accordion-title">
                                    <h4>چگونه آگهی خود را حذف کنیم؟</h4>
                                </div>
                                <div class="accordion-arrow">
                                    <div class="display-center">
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-accordion-body">
                            <p>برای حذف آگهی ابتدا باید وارد پنل کاربری خود شده و به قسمت همه ی آگهی های من بروید، آگهی مورد نظر را پیدا کرده و گزینه ی حذف آگهی را انتخاب کنید؛ با تایید شما آگهی حذف میگردد.</p>
                        </div>
                    </div>
                    <!--/-->
                    <!--Accordion-->
                    <div class="el-accordion">
                        <div class="el-accordion-head">
                            <div class="inner d-flex align-items-center">
                                <div class="accordion-image">
                                    <img src="{% static 'assets/images/icons/click.svg' %}" alt="Click me">
                                </div>
                                <div class="accordion-title">
                                    <h4>چگونه آگهی خود را ویرایش کنیم؟</h4>
                                </div>
                                <div class="accordion-arrow">
                                    <div class="display-center">
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-accordion-body">
                            <p>برای ویرایش آگهی، به پنل کاربری وارد شده و در قسمت (همه ی آگهی های من) روی گزینه ی ویرایش آگهی کلیک کنید.</p>
                        </div>
                    </div>
                    <!--/-->
                </div>
                <div class="col-lg-4">
                    <div class="el-panel el-panel-teacher-info">
                        <div class="el-panel-body">
                            <div class="el-panel-title">
                                <h3>دسترسی سریع</h3>
                            </div>
                            <ul class="el-list">
                                <li>
                                    <a href="{% url 'mysite:about' %}">
                                        <span class="text">درباره ما</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'mysite:page-contact' %}">
                                        <span class="text">تماس با ما</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'mysite:page-faq' %}">
                                        <span class="text">سوالات متداول</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'mysite:page-policy' %}">
                                        <span class="text">قوانین و مقررات</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'weblog:articles' %}">
                                        <span class="text">آخرین نوشته ها</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'mysite:page-how-it-work' %}">
                                        <span class="text">چطور کار می کند؟</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/-->
{% endblock content %}
