{% extends 'shared/other-pages-base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
    <!--Auth-->
    <section class="section section-auth section-auth-1 overlay-image" style="background-image: url({% static 'assets/images/backgrounds/2.jpg' %})">
        <div class="display-center">
            <div class="container">
                <div class="form-panel">
                    <header class="heading center">
                        <h2>ورود به سایت</h2>
                        <h3>
                            <a href="{% url 'register' %}" class="text-secondary">حساب کاربری ندارید؟<b> ثبت نام کنید. </b></a>
                        </h3>
                    </header>
                    {% if form.non_field_errors %}
                    <div class="my-errors">
                        {{form.non_field_errors.as_text}}
                    </div>
                    {% endif %}
                    <br>
                    <form action="" method="post" class="form-3">{% csrf_token %}
                        <div class="row row-xs">
                        {% if validlink %}
                            <div class="col-12">
                                <div class="form-item">
                                    <label class="form-label">رمز ورود به سایت</label>
                                    {{ form.password1 | add_class:"text-left" }}
                                    <!-- <input type="password" name="password" class="text-left"> -->
                                    <br>
                                    {% if form.password1.errors %}
                                    <div class="myerrors">
                                        {{form.password1.errors}}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-item">
                                    <label class="form-label">رمز ورود به سایت</label>
                                    {{ form.password2 | add_class:"text-left" }}
                                    <!-- <input type="password" name="password" class="text-left"> -->
                                    <br>
                                    {% if form.password2.errors %}
                                    <div class="myerrors">
                                        {{form.password2.errors}}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        <hr>
                        <div class="form-item">
                            <button class="button button-md button-block button-secondary" type="submit">
                                <span class="texr">تغییر رمز</span>
                            </button>
                        </div>
                        {% else %}
						<p class="myfont">لینک منقضی شده است. برای بازیابی رمز عبور دوباره <a style="color: red; font-family: vazir; font-weight: bold;" href="{% url 'password_reset' %}">کلیک</a> کنید.</p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--/-->
{% endblock content %}
