{% extends 'shared/other-pages-base.html' %}
{% load static %}


{% block content %}    
    <!--Auth-->
    <section class="section section-auth section-auth-1 overlay-image" style="background-image: url({% static 'assets/images/backgrounds/2.jpg' %})">
        <div class="display-center">
            <div class="container">
                <div class="form-panel">
                    <header class="heading center">
                        <h2>بازیابی رمز عبور</h2>
                        <h3>
                            <a href="{% url 'register' %}" class="text-secondary">حساب کاربری ندارید؟<b> ثبت نام کنید. </b></a>
                        </h3>
                    </header>
                    <form action="" class="form-3">
                        <div class="row row-xs">
                            <div class="col-12">
                                <div class="form-item">
                                    <label class="form-label">پست الکترونیک</label>
                                    {{ form.email }}
                                    <!-- <input type="email" name="email" class="text-left"> -->
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-item">
                            <button class="button button-md button-block button-secondary" type="submit">
                                <span class="texr">تایید</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--/-->
{% endblock content %}